/* .flex {
    display: flex;
}

.w-32 {
    width: 8rem; 
}

.h-32 {
    height: 8rem; 
}

.bg-gray-300 {
    background-color: #D1D5DB; 
}

.grow {
    flex-grow: 1;
}

.shrink-0 {
    flex-shrink: 0;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.rounded-lg {
    border-radius: 0.5rem; 
}

.overflow-hidden {
    overflow: hidden;
}

.object-cover {
    object-fit: cover;
} */
